body{
    background-color: rgb(8, 111, 143);
}
.navbar{
    background-color: rgb(6, 98, 126);
}

.container{
    padding-top: 3%;
    padding-bottom: 3%;
}
.center{
    
   
    margin-left: auto;
    margin-right: auto;
    display: block;
}